@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind forms;

/* @font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
} */

html.dark body{
  @apply bg-zinc-800 text-gray-50;
}

body {
  margin: 0;
  font-family: 'Pretendard', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgb(55, 65, 81);
  @apply flex flex-col items-center;
  @apply bg-white text-gray-900;
}

#root{
  @apply w-full max-w-full;
}

::-webkit-scrollbar{
  width: 0.5rem;
}
::-webkit-scrollbar-track{
  @apply bg-gray-200;
  @apply rounded-2xl;
}
::-webkit-scrollbar-thumb{
  @apply bg-gray-500;
  @apply rounded-2xl;
}
::-webkit-scrollbar-thumb:hover{
  @apply bg-gray-600;  
}

code, kbd, samp, pre {
  font-family: 'Pretendard', 'sans-serif';
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}